extends layout
block content
	each post, i in posts
		article
			a.postlink(href="/post/"+post.title)
				h1.title= post.title
			.collapse &ndash;
			hr
			.content 
				p !{post.content}
			.date
				time= post.dateTime
			div(style="clear: both")
	script(src="/js/posts.js")